@mixin telefono{
    @media (min-width: 480px) {
        @content; //toma el contenido pasado como argumentos
    }
}

@mixin mintablet{
    @media (min-width: 768px) {
        @content; 
    }
}

//esta este mixin para el btn que se agg arriba de adicionales
@mixin tablet{
    @media (max-width: 767px) {
        @content; //toma el contenido pasado como argumentos
    }
}

@mixin tablet768{
    @media (max-width: 768px) {
        @content; //toma el contenido pasado como argumentos
    }
}

@mixin desktop{
    @media (min-width: 1200px) {
        @content; //toma el contenido pasado como argumentos
    }
}

//mixin para aplicar css grid
@mixin gridCol($columnas, $espaciado){
    display: grid;
    grid-template-columns: repeat($columnas, 1fr);
    gap: $espaciado;
}

@mixin gridRow($filas, $espaciado){
    display: grid;
    grid-template-rows: repeat($filas, 1fr);
    gap: $espaciado;
}

