// loader


.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
    transform: rotate(0deg);
    }
    100% {
    transform: rotate(360deg);
    }
}
//para ocultar el resto de la pagina mientras tanto
.hidden{
    overflow: hidden;
}

//para esconder el div contenedor del logo y el loader
.hide{
    display: none;
}
//centro el spinner 
.loader{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .logoSpinner{
        width: 30rem;

        img{
            width: 100%;
        }
    }
}
// loader


.mainScreenSection{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .containerLogo{
        width: 30rem;
        

        img{
            width: 100%;
            
        }
    }
}

main{
    .btnMenu{
        background-color: $amarillo;
        
    }
    .btnDomi{
        background-color: $azul;
    }
    .btnUbi{
        background-color: $naranja;
    }
    .btnAbout{
        background-color: $rojo;
    }

    .btn{
        box-shadow: 0px 5px 8px #fff;
    }

    .containerButtons{
        display: flex;
        flex-direction: column;
        row-gap: $separacion/3;
    }
    .card{
        margin-top: 10px;
        width: 100%;
    }

    .textContainer{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .iconContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2px;
    }

    .card-text{
        text-align: center;
        //white-space: nowrap;
        //width: 20rem;
    }
}

.footer{
    margin-top: $separacion;
    background-color: $blanco;
        
    .horario {
        h4{
            font-weight: $bold;
            font-size: large;
        }
    }

    footer{
        @include gridCol(3,$separacion/4);
        //text-align: center;
    }

    .containerLogoFooter{
        display: flex;
        align-items: center;
        width: 15rem;
        margin: 0 auto;
        img{
            width: 100%;
        }
    }
    .contrataciones{
        h4{
            font-weight: $bold;
            font-size: large;
        }
    }
}