// loader


.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
    transform: rotate(0deg);
    }
    100% {
    transform: rotate(360deg);
    }
}
//para ocultar el resto de la pagina mientras tanto
.hidden{
    overflow: hidden;
}

//para esconder el div contenedor del logo y el loader
.hide{
    display: none;
}
//centro el spinner 
.loader{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .logoSpinner{
        width: 30rem;

        img{
            width: 100%;
        }
    }
}
// loader


.mainScreenSection{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .containerLogo{
        width: 30rem;
        

        img{
            width: 100%;
            
        }
    }
}

main{
    
    .btn{
        box-shadow: 0px 5px 8px #b63737;
    }

    .containerButtons{
        display: flex;
        flex-direction: column;
        row-gap: $separacion/3;
        width: 25rem;
    }
}

.btn{
    width: 100%;
    .menu-container{
        @include gridCol(2,$separacion/4);
        width: min-content;
        margin: auto;
        align-items: center;
    
    }
    .text-container{
        h3{
            font-size:large;
        }
    }
}




.footer{
    margin-top: $separacion/2;
    background-color: $blanco;
    // color: $blanco;

    .horario {
        display: flex;
        flex-direction: row;
        // justify-content: space-between;
        height: fit-content;

        h4{
            font-weight: $bold;
            font-size: large;
            text-align: center;
        }
        .horario-container{
            width: 50%;

        }
    }

    footer{
        @include gridRow(2,$separacion/4);
        // text-align: center;
        // height: 1rem;
        width: 100%;
    }

    
    .contrataciones{
        display: flex;
        flex-direction: row;
        // justify-content: space-between;
        height: fit-content;
        h4{
            font-weight: $bold;
            font-size: large;
            text-align: center;
        }

        .contrataciones-container{
            width: 50%;
            word-wrap: break-word;
        }

        .telefono-container{
            width: 50%;
        }
    }
}
