@import '../base/variables'; //importo el archivo que contiene las variables para poder usarlas
@import '../base/normalize';
@import '../base/mixins';
@import '../base/globales';

.navbar{
    background-color: $negro;
}

body{
    font-family: $fuentePrincipal;
    font-size: 1.6rem;
    
    margin: 0; /* Elimina los márgenes por defecto del body */
    padding: 0; /* Elimina el padding por defecto del body */
    background-image: url('../../../build/img/fondo.jpg'); /* Ruta de la imagen de fondo */
    background-size: cover; /* Cubre toda la pantalla */
    background-repeat: no-repeat; /* No se repite */
}

//para ocultar el resto de la pagina mientras tanto
.hidden{
    overflow: hidden;
}

//para esconder el div contenedor del logo y el loader


.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #181818;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #181818 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
    transform: rotate(0deg);
    }
    100% {
    transform: rotate(360deg);
    }
}

.hide{
    display: none;
}
//centro el spinner 
.loader{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .logoSpinner{
        width: 20rem;

        img{
            width: 100%;
        }
    }
}
// loader

.div-container{
    width: 100%;

    .bi{
        color: $blanco;
        padding: 5px; /* Espacio alrededor del icono */
        font-size: larger;
    }
    
    .container-flex{
        width: fit-content;
        display: flex;
        flex-direction: row;
        // margin: 0 auto;
        width: 100%;
    }
    .navbar-brand{
        margin: auto 0;
    }
    .navbar-logo{
        width: 5rem;
        margin: 0 auto;
        img{
            width: 100%;
        }
    }
    
}

.menus{
    margin-top: 3rem;

    .row{
        padding: 0px 7%;
    }
}

.col-sm-6{
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px 10px;
    
    button{
        width: 100%;
        border: none;
        padding: 0;
        transition: transform 0.3s;
        box-shadow: 0px 5px 5px;



        &:hover{
            transform: scale(1.1);
        }
    }
    img{
        width: 100%;
        border-radius: 10px;
    }
}
